<mat-vertical-stepper [linear]="true">
  <mat-step [stepControl]="amountFormGroup">
    <form [formGroup]="amountFormGroup">
      <ng-template matStepLabel>Je choisis le montant de mon don</ng-template>
      <app-amount-selector [amountForm]="amountFormGroup"></app-amount-selector>
      <mat-card-actions class="actions">
        <button class="main-button" mat-raised-button matStepperNext color="primary" [disabled]="!amountFormGroup.valid">Continuer</button>
      </mat-card-actions>
    </form>
  </mat-step>
  <mat-step [stepControl]="userInfoFormGroup">
    <form [formGroup]="userInfoFormGroup">
      <ng-template matStepLabel>Je renseigne mes coordonnées</ng-template>
      <app-user-info-form [userInfoForm]="userInfoFormGroup" [(step)]="userInfoStep"></app-user-info-form>

      <mat-card-actions class="actions">
        <button class="main-button" mat-button mat-raised-button matStepperNext color="primary" *ngIf="isUserInfoCompleted()">Je confirme mes informations</button>
      </mat-card-actions>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Je paie par carte bancaire</ng-template>
    <app-payment [donationData]="getDonationData()"></app-payment>
  </mat-step>
</mat-vertical-stepper>
