<mat-vertical-stepper [linear]="true">
  <mat-step [stepControl]="amountFormGroup">
    <form [formGroup]="amountFormGroup">
      <ng-template matStepLabel>Je choisis le montant de mon don</ng-template>
      <app-amount-selector [amountForm]="amountFormGroup"></app-amount-selector>
      <mat-card-actions class="actions">
        <button class="main-button" mat-raised-button matStepperNext color="primary" [disabled]="!amountFormGroup.valid">Continuer</button>
      </mat-card-actions>
    </form>
  </mat-step>
  <mat-step [stepControl]="userInfoFormGroup">
    <form [formGroup]="userInfoFormGroup">
      <ng-template matStepLabel>Je renseigne mes coordonnées</ng-template>
      <app-user-info-form [userInfoForm]="userInfoFormGroup"></app-user-info-form>

      <mat-card-actions class="actions">
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext color="primary" [disabled]="!userInfoFormGroup.valid">Continuer</button>
      </mat-card-actions>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Je paie</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
