<nav class="navbar-header" color="primary">
  <a mat-button
     href="https://lemediatv.fr"
     class="lemedia-website-link va-middle"
     rel="nofollow"
  >
    <i class="material-icons">arrow_back</i>
    <span>Retour site Le Média</span>
  </a>

  <div class="flex-spacer"></div>

  <a mat-button
     [routerLink]="'/'"
     routerLinkActive
  >
    <span>Plateforme de dons</span>
  </a>

  <div class="flex-spacer"></div>

  <mat-basic-chip class="va-middle" class="secured-payment va-middle">
    <i class="material-icons">lock</i>
    <span>Paiement sécurisé</span>
  </mat-basic-chip>
</nav>
