.header-background {
  overflow: hidden;
}

.header-section {
  text-align: center;
  padding-top: 60px;
}

.header-headline {
  h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;

    .header-logo {
      height: 80px;
      vertical-align: middle;
      margin-bottom: 10px;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px 0;
  }
}

.donation {
  margin-right: auto;
  margin-left: auto;
  max-width: 940px;
  padding: 0;
}
