<header class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">
        <span>Je soutiens</span>
        <img class="header-logo" src="../../../assets/img/Le-Média-black.png" alt="Le Média"/>
      </h1>
      <h2>Indépendant, collaboratif, pluraliste, culturel, francophone, féministe, humaniste, antiraciste, écologiste, progressiste</h2>
    </div>
  </div>
</header>

<mat-card class="donation">
  <mat-card-content>
    <app-donation></app-donation>
  </mat-card-content>
</mat-card>

<div class="center">
  <app-check-info class="pull-center"></app-check-info>
</div>
