<form [formGroup]="amountForm">
  <input formControlName="amount" [(ngModel)]="amount" type="hidden" required />
</form>

<mat-card class="background-grey">
  <mat-card-content class="center">
    <mat-button-toggle *ngFor="let quickAmount of quickAmounts" (mousedown)="onQuickAmountClick($event, quickAmount)" [checked]="isQuickAmountChecked(quickAmount)" color="accent">
      {{quickAmount/100}} €
    </mat-button-toggle>
  </mat-card-content>

  <mat-card-content class="center">
    <div class="explanation">
      Ou je choisis un montant libre :
    </div>

    <mat-button-toggle [checked]="isOtherAmountInputChecked(otherAmount)" class="other-amount">
      <input type="number" autocomplete="off" matInput placeholder="Autre montant" name="value" [(ngModel)]="otherAmount" (change)="onOtherAmountChange(otherAmount)" (focus)="otherAmountFocused = true" (blur)="otherAmountFocused = false" />
      <span matSuffix="">€</span>
    </mat-button-toggle>

    <mat-error *ngIf="amountForm.controls.amount.hasError('min') && !amountForm.controls.amount.hasError('required')">
      Le don doit être supérieur à 1€.
    </mat-error>
  </mat-card-content>
</mat-card>

<p class="donation-summary">
  Ce don de <strong>{{amount/100}}€</strong> me revient à <strong>{{amountAfterTaxCredit/100}}€</strong> après déduction fiscale.
  <br/>
  <small>66% de votre don est déductible de vos impôts dans la limite de 20% de vos revenus imposables.</small>
</p>
