<mat-card class="legal-mention">
  <mat-card-title>Mentions légales</mat-card-title>
  <mat-card-content class="mat-typography">
      <h2>Conditions d’utilisation</h2>
      <p>
        L’utilisation de ce site Internet vaut acceptation des conditions mentionnées ci-après.
        Le Média se réserve la possibilité d’engager des poursuites judiciaires en cas de violation de ces conditions d’utilisation, notamment en cas de non-respect et d’utilisation non autorisée des noms et emblèmes de la Croix-Rouge et du Croissant-Rouge ou en cas de violation des droits liés à l’information, au graphisme, aux textes, vidéos, documents audio, photos et images et plus généralement à l’ensemble du contenu du site.</p>

      <h2>Protection des données personnelles</h2>
      <p>
        Vous êtes amené(e) à communiquer des informations personnelles lors de l’utilisation du formulaire de dons.
        Les informations que vous transmettez sont à usage exclusif de l'association le Média et ne seront en aucun cas transmises à des tiers.
        Tout utilisateur ayant communiqué des informations directement ou indirectement nominatives, peut demander la communication de ces informations à l’administrateur du service et les faire rectifier le cas échéant, conformément à la loi française N 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés.
        Pour exercer ce droit, envoyez-un mail à <a href="mailto:support@lemediatv.fr">support@lemediatv.fr</a>.
        Nous vous informons que la confidentialité des correspondances transmises par le réseau Internet n’est pas garantie.
      </p>

      <h2>Décharge de responsabilité</h2>
      <p>
        Le Média effectue les démarches nécessaires pour assurer la fiabilité des informations contenues dans ce site.
        Cependant, elle ne peut encourir une quelconque responsabilité du fait d’erreurs, d’omissions ou des résultats qui pourraient être obtenus à la suite de l’usage des informations diffusées.
        Le Média n’est tenu qu’à une obligation de moyens concernant les informations mises à disposition sur le site.
        De même, il n’est en aucun cas responsable de l’infection par des virus ou de tout autre problème informatique ayant des effets destructeurs.
      </p>

      <h2>Les cookies</h2>

      <h3>Qu'est-ce qu'un cookie ?</h3>
      <p>Un cookie est une information déposée sur votre disque dur par le serveur du site que vous visitez. Ils ont notamment pour but de collecter des informations relatives à votre navigation sur les sites et de vous adresser des services personnalisés.</p>

      <h3>Comment refuser les cookies ?</h3>
      <p>Nous vous rappelons que le paramétrage peut modifier vos conditions d'accès à certains services nécessitant l'utilisation de cookies, comme l’accès à votre compte.</p>
      <p>Vous pouvez à tout moment choisir de désactiver ces cookies dans les paramètres de votre navigateur. Vous pouvez accepter ou refuser les cookies au cas par cas ou bien les refuser systématiquement une fois pour toutes.</p>

      <h2>Le Média</h2>
      <p>
        Le Média est une association dont les statuts ont été déposés le 10 octobre 2017, qui a pour objet de créer un média permettant de renforcer les solidarités humaines ainsi que l’harmonie entre les hommes et la nature, et qui prend pour ce faire toutes les initiatives favorisant l’information, la culture, la réflexion, l’échange, le débat et plus généralement le lien social.
      </p>
  </mat-card-content>
</mat-card>
