.user-info-form-accordion .mat-expansion-panel-header-title,
.user-info-form-accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.user-info-form-accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: left;
}

.actions {
  justify-content: center;
}
