<mat-card class="background-grey">
  <mat-card-content>
    <p class="explanation">Veuillez compléter les informations suivantes :</p>
     <mat-accordion class="user-info-form-accordion">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true" class="user-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Qui êtes-vous ?
            </mat-panel-title>
            <mat-panel-description>
              Renseignez vos informations personnelles.
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <form fxFlex fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutGap="30px" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFill fxFlex="calc(50% - 30px)" fxFlex.lt-md="100%">
                <input type="email" matInput [formControl]="userInfoForm.get('personalData').get('email')" name="email" placeholder="Votre adresse email" required>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="userInfoForm.get('personalData').get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
              </mat-form-field>

              <mat-form-field fxFill fxFlex="calc(50% - 30px)" fxFlex.lt-md="100%">
                <input matInput [formControl]="userInfoForm.get('personalData').get('phoneNumber')" name="phoneNumber" placeholder="Votre numéro de téléphone" required>
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error *ngIf="userInfoForm.get('personalData').get('phoneNumber').invalid">{{getPhoneNumberErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutGap="30px" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFill fxFlex="calc(50% - 30px)" fxFlex.lt-md="100%">
                <input matInput [formControl]="userInfoForm.get('personalData').get('lastName')" name="lastName" placeholder="Votre nom de famille" required>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error *ngIf="userInfoForm.get('personalData').get('lastName').invalid">{{getLastNameErrorMessage()}}</mat-error>
              </mat-form-field>
              <mat-form-field fxFill fxFlex="calc(50% - 30px)" fxFlex.lt-md="100%">
                <input matInput [formControl]="userInfoForm.get('personalData').get('firstName')" name="firstName" placeholder="Votre prénom" required>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error *ngIf="userInfoForm.get('personalData').get('firstName').invalid">{{getFirstNameErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px">
              <mat-checkbox fxFill fxFlex="calc(50% - 30px)" fxFlex.lt-md="100%" [formControl]="userInfoForm.get('personalData').get('isCompany')">Je donne au nom d'une entreprise ?</mat-checkbox>
              <mat-form-field fxFill fxFlex="calc(50% - 30px)"  fxFlex.lt-md="100%" *ngIf="userInfoForm.get('personalData').get('isCompany').value">
                <input matInput [formControl]="userInfoForm.get('personalData').get('socialReason')" name="socialReason" placeholder="Raison sociale">
                <mat-icon matSuffix>business</mat-icon>
                <mat-error *ngIf="userInfoForm.get('personalData').get('socialReason').invalid">{{getSocialReasonErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
          </form>

          <mat-action-row class="actions">
            <button mat-button mat-raised-button color="primary" type="button" (click)="nextStep()" [disabled]="!isPersonalDataFormValid()">Continuer</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true" [disabled]="!isPersonalDataFormValid()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Où résidez-vous ?
            </mat-panel-title>
            <mat-panel-description>
              Renseignez votre adresse postale
              <mat-icon>map</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>


          <form fxFlex fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row">
              <mat-form-field fxFill fxFlex="100%">
                <input matInput [formControl]="userInfoForm.get('locationData').get('address')" placeholder="Votre adresse postale" required>
                <mat-icon matSuffix>home</mat-icon>
                <mat-error *ngIf="userInfoForm.get('locationData').get('address').invalid">{{getAddressErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutGap="30px" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px">

              <mat-form-field fxFill fxFlex="calc(30% - 30px)" fxFlex.lt-md="100%">
                <input type="tel" matInput [formControl]="userInfoForm.get('locationData').get('zipCode')" placeholder="Votre code postal" required>
                <mat-icon matSuffix>location_city</mat-icon>
                <mat-error *ngIf="userInfoForm.get('locationData').get('zipCode').invalid">{{getZipCodeErrorMessage()}}</mat-error>
              </mat-form-field>

              <mat-form-field fxFill fxFlex="calc(70% - 30px)" fxFlex.lt-md="100%">
                <input matInput [formControl]="userInfoForm.get('locationData').get('city')" placeholder="Votre ville" required>
                <mat-icon matSuffix>location_city</mat-icon>
                <mat-error *ngIf="userInfoForm.get('locationData').get('city').invalid">{{getCityErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row">
              <mat-form-field fxFill fxFlex="100%">
                <mat-select placeholder="Votre pays" [formControl]="userInfoForm.get('locationData').get('country')" required>
                  <mat-icon matSuffix>map</mat-icon>
                  <mat-option *ngFor="let country of countries" [value]="country.value">{{country.text}}</mat-option>
                </mat-select>
                <mat-error *ngIf="userInfoForm.get('locationData').get('country').invalid">{{getCountryErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
          </form>

          <mat-action-row class="actions">
            <button mat-button mat-raised-button color="primary" t (click)="nextStep()" [disabled]="!isLocationDataFormValid()">Continuer</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
  </mat-card-content>
</mat-card>

<div *ngIf="userInfoForm.valid && step === 2">
  <p>Je m'appelle <strong>{{userInfoForm.get('personalData').get('firstName').value}} {{userInfoForm.get('personalData').get('lastName').value}}</strong>
    et je réside au <strong>{{userInfoForm.get('locationData').get('address').value}}, {{userInfoForm.get('locationData').get('zipCode').value}}, {{userInfoForm.get('locationData').get('city').value}}, {{userInfoForm.get('locationData').get('country').value|country}}</strong>.</p>
  <p>Vous allez recevoir votre reçu fiscal par email à l'adresse : <strong>{{userInfoForm.get('personalData').get('email').value}}</strong></p>
</div>
